@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #000;
    font-size: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Navigation */

.nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    flex: 1;
    margin: 30px 0;
    margin-left: 50px;
}

.logo img {
    width: 210px;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;
}

.main-nav ul li a {
    font-size: 70%;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 35px;
    position: relative;
    padding-bottom: 4px;
}

.main-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.main-nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

.hamburger {
    position: relative;
    background: none;
    border: 0;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 40px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(4px);
}

.hamburger-bottom {
    transform: translateY(8px);
}

.open {
    z-index: 4;
}

.open .hamburger-top {
    transform: rotate(45deg);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000;
    width: 350px;
    height: 100%;
    transition: all 0.5s;
    transform: translateX(100%);
}

.menu ul {
    margin: 80px 50px;
    z-index: 5;
}

.menu ul li {
    border-bottom: 1px solid #505050;
    padding: 6px 0;
    text-align: end;
    text-transform: uppercase;
}

.menu ul li a {
    font-size: 80%;
}

.menu ul li a:hover {
    color: #888888;
}

.nav-mob {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

/* Sections */

section {
    position: relative;
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center; 
    text-transform: uppercase;
    color: #fff;
}

h4 {
    font-weight: 300;
    margin-bottom: 0;
    animation: fadeInUp 0.6s ease-in-out;
}

h2 {
    margin-bottom: 25px;
    font-size: 250%;
    animation: fadeInUp 0.6s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}

.section-text {
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.btn {
    border: 1px solid #fff;
    padding: 10px 40px;
    padding-bottom: 14px;
    min-width: 130px;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    transform: color;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    animation: fadeInUp 0.6s ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}

.btn:hover {
    color: #000;
}

.btn a {
    font-size: 70%;
    font-weight: 700;
}

.btn::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: -1;
    transform: translateY(100%);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
}

.btn:hover::after {
    transform: translateY(0%);
    transform-origin: bottom;
}

.arrow-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    animation: fadeBounce 5s infinite;
}

.arrow-down ion-icon {
    font-size: 200%;
    font-weight: 300;
}

/* Section Background */

.section-a {
    background-image: url(img/section-a.webp);
}

.section-b {
    background-image: url(img/section-b.webp);
}

.section-c {
    background-image: url(img/section-c.webp);
}

.section-d {
    background-image: url(img/section-d.webp);
}

/* Footer */

footer {
    padding: 20px 100px;
}

footer ul {
    display: flex;
    align-items:  center;
    justify-content: space-around;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    font-size: 70%;
    font-weight: 700;
}

footer ul li p {
    color: #fff;
    font-size: 60%;
    margin-top: 7px;
}

/* Inner Pager */

.falcon9 {
    background-image: url(img/falcon-9.webp);
    animation: fadeIn 2s ease-in-out;
}

.falconheavy {
    background-image: url(img/falcon-heavy.webp);
    animation: fadeIn 2s ease-in-out;
}

.dragon {
    background-image: url(img/dragon.webp);
    animation: fadeIn 2s ease-in-out;
}

.section-center {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}

.section-center h1 {
    font-size: 500%;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-center p {
    font-size: 80%;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.stats span {
    font-size: 500%;
    margin-bottom: 25px;
}

.stats h4 {
    animation: fadeIn 0.5s ease-in-out;
    font-weight: 300;
}

/* Media Queries */

@media screen and (max-width: 970px) {
    .main-nav ul {
        display: none;
    }

    .nav-mob {
        display: block;
    }

    footer ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    html,
    body {
        font-size: 15px;
    }

    .logo img {
        position: absolute;
        left: 175px;
        height: 30px;
        width: auto;
    }
    
    .menu {
        font-size: 120%;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        top: 5px;
        right: 30px;
    }

    footer {
        margin: 0;
    }

    footer ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    footer ul li {
        margin-left: 0;
    }

    .stats {
        width: 90%;
    }
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeBounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 0;
        transform: translateY(-25px);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }
}